.o_list_view .o_list_record_selector input {
    display: none !important;
}
.o_list_renderer .o_list_table > thead > tr > :first-child, .o_list_renderer .o_list_table > tbody > tr > :first-child, .o_list_renderer .o_list_table > tfoot > tr > :first-child 
{
    padding-left: var(--ListRenderer-table-padding-x);
    display: none !important; 
}
#edit_btn
{
    background-color: blue($color: #000000);
}



.horizontal-fields .o_group {
    display: flex !important;
    flex-wrap: wrap !important;
    background-color: red($color: #d24450);
}

.horizontal-fields .o_group .o_field_widget {
    margin-right: 10px;
    flex: 0 0 auto;
}

@media (min-width: 576px) {
    .o_form_view .o_inner_group {
        display: flex !important;
        grid-template-columns: fit-content(150px) 1fr;
        background-color: red($color: #000000);
        /* flex-wrap: wrap; */
    }
}
